name: Build and Execute Unit Tests

on: workflow_dispatch
#   push:
#     branches: 
#       - master
#       - dev
#       - ci-test
#   pull_request:
#     branches:
#       - master

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.101
    - name: Build with dotnet 
      run: dotnet build ./src --configuration Release
    - name: Execute XUnit tests
      run: dotnet test ./src/ProjectDover.tests --logger:trx
